.link {
  text-decoration: none;
}
.cards {
  width: 276px;
  font-size: 14px;
  margin-top: 30px;
  cursor: pointer;
  color: black;

  &:hover {
    opacity: 0.7;
  }
}
.imageContainer {
  display: block;
  height: 180px;
  width: 100%;
}

.image {
  height: 100%;
  object-fit: contain;
}

.title {
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
  min-height: 38px;
}

.subtitle {
  margin-top: 5px;
  color: #767676;
}
