.Popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 2;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.Popup-open {
  visibility: visible;
  opacity: 1;
}

.Popup-container {
  background-color: white;
  color: black;
  width: 430px;
  border-radius: 10px;
  padding: 0;
  padding-right: 10px;
  box-sizing: border-box;
  position: absolute;
  min-height: fit-content;
  display: grid;
  grid-template-columns: 120px 270px;
  grid-template-rows: 4;
  grid-gap: 6px 30px;
}

.Popup-close {
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: center / contain no-repeat url("../images/Close_icon.svg");
  background-color: rgba(0, 0, 0, 0);
  border: none;
  opacity: 1;
  transition: opacity 1s linear;
  cursor: pointer;
}

.Popup-close:hover {
  opacity: 0.6;
}

.Popup-image {
  height: 50vh;
  max-width: 100%;
  object-fit: contain;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 6;
  align-self: center;
  justify-self: center
}

.Popup-tagline {
  font-weight: bold;
}

